.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.background {
  background-color: black;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.hightlight {
  background-color: blue;
}
.blue-background {
  background-color: teal; 
}
